<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movies</title>
</head>
<body>
    <h1>Movies</h1>
    <ul>
        {% for movie in movies %}
            <a href={{movie.id}}> 
                <li> {{movie.id}}, Title: {{movie.title}}, Year: {{movie.year}}</li> 
            </a> &nbsp;
            <a href="/movies/delete/{{movie.id}}">Delete</a> 
            <a href="/movies/edit/{{movie.id}}">Edit</a> 
        {% endfor %}
    </ul>
    <a href="/movies/add">Add a movie</a>
</body>
</html>